.container {
  margin: 7vmin;
}

.avatar {
  height: 24px;
  width: 24px ;
}

.new-release-row {
  display: flex !important;
  justify-content: center !important;
}

.card-image {
  height: 25vmin !important;
}

.icon-margin-left {
  margin-left: 2vmin;
}

.home-header {
  display: flex !important;
  justify-content: space-around !important;
}

.name {
  color: #ffffff !important; 
  font-weight: 500 !important;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline;
  margin-left: -150px;
}

.search {
  width: 35vmin !important;
}

.list-item-title {
  display: flex;
  justify-content: space-around;
}

.list-item-name {
  width: 20vmin !important;
}

.icon-margin-top {
  margin: 0.7vmin;
}

@media (max-width: 950px) and (min-width: 816px) {
  .name{
    margin-left: -105px;
  }
}

@media (max-width: 815px) and (min-width: 764px) {
  .name{
    margin-left: -95px;
  }
}

@media (max-width: 763px) and (min-width: 576px) {
  .name{
    margin-left: -80px;
  }
}

@media (max-width: 575.98px) {
  .name{
    margin-left: 0px;
  }
}